.navbar-container {
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:12px;
    padding-bottom: 12px;
    background-color: #1757CC;
    color: white;
}

.navbar-menu {
    display: flex;
    gap:16px;
}

.navbar-menu div{
    cursor: pointer;
}

.todo-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}

.todolist-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
}
